<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>작성하기</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <article>
        <input type="hidden" id="article-id" th:value="${article.id}">

        <header class="mb-4">
            <input type="text" class="form-control" placeholder="Title" id="title" th:value="${article.title}">
        </header>

        <section class="mb-3">
            <textarea class="form-control" rows="10" placeholder="Content" id="content"
                      th:text="${article.content}"></textarea>
        </section>

        <section class="mb-3">
            <label class="form-label">이미지 업로드 (여러 개 가능)</label>
            <input type="file" id="images" class="form-control" multiple>
        </section>

        <button th:if="${article.id} == null" type="button" id="create-btn" class="btn btn-primary">Create</button>
        <button th:if="${article.id} != null" type="button" id="modify-btn" class="btn btn-primary">Edit</button>
    </article>
</div>

<script src="/js/new-article.js"></script>
</body>
</html>
